#slideshow {
  margin: 0px auto;
  position: relative;
  width: 600px;
  height: 175px ;
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
